/* ? CCS reset*/

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    overflow: hidden;
    scroll-behavior: smooth;
}

/* ! Utilis */

.flex{
    display: flex;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.yellow{
    color: yellow;
}

.green{
    color: green;
}

/* ? Generic */

/* !container */

.container{
    min-height: 100px;
}

.container-page{
    max-width: 800px;
    border: 1px dashed white;
}

/* main */

.bgc-page{
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.bgc-red{
    background-color: #FF0000;
}

.bgc-green{
    background-color: #008000;
}

.bgc-yellow{
    background-color: yellow;
}

.discount-title{
    font-size: 90px;
    text-align: center;
}

.nav{
    position: fixed;
    top: 40px;
    right: 20px;
}

.menu{
    gap: 20px;
}


.button{
    font-size: 32px;
    font-weight: bold;
    background-color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 50px;

}    